---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Xavier Yin">
	<h1>Xavier Yin</h1>
	<p>
		I'm a PhD student from New Zealand in <a href="https://lab-msp.com/">MSP Lab</a>, part of the 
		Language Technologies Institute at Carnegie Mellon University, advised by 
		<a href="https://carlosbusso.com/">Carlos Busso</a>. I currently work on speech
		articulatory synthesis, particularly text-to-articulation synthesis. 
		Before CMU, I completed my B.S. and M.S. at UC Berkeley, where I worked with
		<a href="https://people.eecs.berkeley.edu/~gopala/">Gopala Anumanchipalli</a>. 
		My master's thesis focused on the feasibility of text-to-articulation synthesis as a 
		novel approach for speech research. I've also worked on fairness and privacy in large language models
		including linguistic bias, standard language ideology, and data privacy risks.
	</p>
	<p>
		Outside of research, I enjoy traveling, hiking, and rock climbing. 
		I also enjoy nature photography, particularly bird photography, and occasionally draw and compose music.
	</p>
	<p>
		You can find my research on the <a href="/research">Research</a> page,
		and occasional writing on miscellaneous topics in philosophy, theology, and other subjects on the <a href="/blog">Blog</a>.
	</p>
</Layout>
