---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Xavier Yin">
	<h1>Xavier Yin</h1>
	<p>
		I'm a PhD student at the <a href="https://www.lti.cs.cmu.edu/">Language
		Technologies Institute</a> at Carnegie Mellon University, where I work on
		machine learning spanning natural language processing and speech
		processing, advised by <a href="https://lab-msp.com/">Carlos Busso</a>.
		My research has looked at fairness and privacy in large language models
		&mdash; including linguistic bias, standard language ideology, and data
		privacy risks &mdash; as well as text-to-articulatory speech synthesis.
		Before CMU, I completed my M.S. at UC Berkeley, where I worked with
		<a href="https://berkeley-speech-group.github.io/Berkeley-Speech-Group/">Gopala
		Anumanchipalli</a>.
	</p>
	<p>
		You can find my research on the <a href="/research">Research</a> page,
		and occasional writing on the <a href="/blog">Blog</a>.
	</p>
</Layout>
